<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../img/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Scrum</title>
</head>

<!--<style type="text/css">
    body { background: CornflowerBlue !important; }
</style>
-->
<body>

<!-- Navigation bar  Start -->
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-2">
            <a class="navbar-brand" href="#"><img width="170px" height="35px" src="../img/logo_2.png"/></a>
        </div>

        <div class="collapse navbar-collapse col-md-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">MyProjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MyTeams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sprints</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <form class="form-inline my-1 my-lg-0">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-3">
            <a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/envel.png"/></a>
            <a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/bell.png"/></a>
            <!--<a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/profile.png" /></a>-->

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false"><img width="30px" height="30px" src="../img/profile.png"/></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">MyProfile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Contact</a>
                <a class="dropdown-item" href="#">Help</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navigation bar  End -->
<div class="container">
    <br>
<div class="row">
    <nav aria-label="breadcrumb col-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page" ><a th:href="@{/home}">Home</a></li>
        </ol>
    </nav>
	
</div>
<!--table-->
    <div class="row">
		<div class="col-md-10">
			<div class="panel-heading" style="color:#005d8a;"><h3>FEED</h3></div>
		</div>
		<div class="dropdown col-md-2" >
			<button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
				Sort by
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Date</a>
				<a class="dropdown-item" href="#">Project</a>
				<a class="dropdown-item" href="#">Team</a>
			</div>
		</div>
    </div>

    <div class="row">
        <table class="table">
						<thead>
							<tr>
                                <th scope="col"></th>
								<th scope="col">Date</th>
								<th scope="col">Commit</th>
								<th scope="col">Time</th>
								<th scope="col">Project</th>
								<th scope="col">team</th>
							</tr>
						</thead>

						<tbody>
							<tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <th scope="row"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" style="color:black;"></span></button></th>
								<td>16/5/2018</td>
								<td>#1</td>
								<td>18:35</td>
								<td>Codeine_TEL</td>
							  <td> Codeine</td>

							</tr>
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo1" style="color:black;">
									  <table class="table table-striped">
											<thead>
												<tr><td><a href="WorkloadURL"> link</a></td><td>Details</td><td>Details</td></tr>
												<tr><th>#1</th><th>#2</th><th>#3</th><th> #4</th><th> #5</th><th>#6</th></tr>
											</thead>
											<tbody>
												<tr><td>#1</td><td>#2</td><td>#3</td><td>#4</td><td>#5</td><td><a href="#" class="btn btn-default btn-sm">
										  <i class="glyphicon glyphicon-cog"></i></a></td></tr>
												
											 
											
											</tbody>
										</table>
									  
									</div>
								</td>
							</tr>
							<tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                <th scope="row"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" style="color:black;"></span></button></th>
								<td>16/5/2018</td>
								<td>#1</td>
								<td>18:35</td>
								<td>Syspro</td>
							  <td> Codeine</td>
							</tr>
							<tr>
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo2" style="color:black;"> 
									  <table class="table table-striped">
											<thead>
												<tr><td><a href="WorkloadURL"> link</a></td><td>Details</td><td>Details</td></tr>
												<tr><th>#1</th><th>#2</th><th>#3</th><th> #4</th><th> #5</th><th>#6</th></tr>
											</thead>
											<tbody>
												<tr><td>#1</td><td>#2</td><td>#3</td><td>#4</td><td>#5</td><td><a href="#" class="btn btn-default btn-sm">
										  <i class="glyphicon glyphicon-cog"></i></a></td></tr>
												
											 
											
											</tbody>
										</table>
									  
									</div>
								</td>
							</tr>							</tr>
							<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
								<th scope="row"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" style="color:black;"></span></button></th>
								<td>16/5/2018</td>
								<td>#1</td>
								<td>18:35</td>
								<td>New</td>
							  <td> Codeine</td>
							</tr>
							<tr>
							<tr>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="demo3" style="color:black;"> 
									  <table class="table table-striped">
											<thead>
												<tr><td><a href="WorkloadURL"> link</a></td><td>Details</td><td>Details</td></tr>
												<tr><th>#1</th><th>#2</th><th>#3</th><th> #4</th><th> #5</th><th>#6</th></tr>
											</thead>
											<tbody>
												<tr><td>#1</td><td>#2</td><td>#3</td><td>#4</td><td>#5</td><td><a href="#" class="btn btn-default btn-sm">
										  <i class="glyphicon glyphicon-cog"></i></a></td></tr>
												
											 
											
											</tbody>
										</table>
									  
									</div>
								</td>
							</tr>							</tr>
						</tbody>
                    </table>

	</div>
</div>


<!--- -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>
