.bg-light {
    background-color: #174d67!important;
}

.nav-link {
    padding-top: 15px;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

body {
    background-color: #eaeff7;
}
.btn-outline-success {
    color: #b5b5b5;
    background-color: transparent;
    background-image: none;
    border-color: #f5fff7;
    border-top-color: rgb(245, 255, 247);
    border-right-color: rgb(245, 255, 247);
    border-bottom-color: rgb(245, 255, 247);
    border-left-color: rgb(245, 255, 247);
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #164f79;
    border-color: #ffffff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #163058;
    border-color: #3c5873;
    border-top-color: rgb(60, 88, 115);
    border-right-color: rgb(60, 88, 115);
    border-bottom-color: rgb(60, 88, 115);
    border-left-color: rgb(60, 88, 115);
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 99, 167, 0.5);
}
btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 81, 128, 0.5);
}
