<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../img/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Scrum</title>
  </head>
  <body>

<!-- Navigation bar  Start -->
	<div>
	  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  	<div class="col-md-2">
		  		<a class="navbar-brand" href="#"><img width="200px" height="45px" src="../img/logo_2.png" /></a>
			</div>  

			<div class="collapse navbar-collapse col-md-3" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
			    <li class="nav-item">
			      <a class="nav-link" href="#">MyProjects</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">MyTeams</a>
			    </li>
			  </ul>
			</div>
			<div class="col-md-4">
			  <form class="form-inline my-1 my-lg-0">
			    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
			    <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
			  </form>
			</div>

			<div class="col-md-3">
				<a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/envel.png" /></a>
				<a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/bell.png" /></a>
				<!--<a class="navbar-brand" href="#"><img width="30px" height="30px" src="../img/profile.png" /></a>-->

				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img width="30px" height="30px" src="../img/profile.png" /></a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#">MyProfile</a>
				      <a class="dropdown-item" href="#">Settings</a>
				      <a class="dropdown-item" href="#">Contact</a>
				      <a class="dropdown-item" href="#">Help</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="#">Log Out</a>
				    </div>
			</div>
		</nav>
	</div>
<!-- Navigation bar  End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>